<!doctype html>
<html>
<head>
    <title>Podcast AI Companion</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="landing-container">
    <h1>Welcome to MyPod AI Companion</h1>
    <img src="img/podcast.webp" alt="Podcast studio">

        <p>Your smart assistant for generating podcast summaries, hashtags, and insights.</p>

        <a href="/login" class="landing-btn"><span class="fa fa-sign-in"></span>Login</a>
        <a href="/signup" class="landing-btn"><span class="fa fa-user-plus"></span>Signup</a>

    </div>
</div>

<footer class="landing-footer">
    <p>© 2025 Podcast AI Companion</p>
</footer>

</body>
</html>
